<div class="jumbotron">
  <h1>Welcome, FNY Lab</h1>
  <p>Currently, only Harvested Mouse Table is available</p>
  <hr>
  <p>Current time: {{ todayDate }}</p>
  <div class="view-block" (click)="PageDirect('harvest-mouse')">
    <mat-icon class="material-icons">table_view</mat-icon>
    <h2 class="view-block-title">Harvested Mouse Table</h2>
    <p class="view-block-descrption">
      Managing the ended mouse, It will only show the project you 
      are involving in.
    </p>
  </div>
  <div class="view-block" (click)="PageDirect('user-management-page')">
    <mat-icon class="material-icons">face</mat-icon>
    <h2 class="view-block-title">User Management</h2>
    <p class="view-block-descrption">
      Managed the current user
    </p>
  </div>
</div>