.mouselineInput{
   width: 300px;
}
.genotypeInput{
   width: 300px;
}

.handlerInput{
   width: 400px;
}

.projectInput{
   width: 350px;
}

.experimentInput{
   width: 350px;
}

.pfaInput{
   width: 70px;
}

.pfaInputExtention {
   width: 140px;
}