.mouselineInput{
   width: 300px;
}
.genotypeInput{
   width: 300px;
}

.handlerInput{
   width: 400px;
}

.projectInput{
   width: 350px;
}

.experimentInput{
   width: 350px;
}


.mat-form-field + .mat-form-field {
  margin-left: 1rem;
}
