.mat-dialog-actions {
  min-height: 4rem;
}

.disection-record{
   text-align: left;
   width: 100%;
}

.section-header{
   display: block;
   text-align: left;
   width: 100%;
   font-weight: bold;
}
