@import "./variables.scss";

.btn-primary {
  background-color: $secondary-color;
  color: white;

  &:hover {
    color: white;
  }
}

.btn-basic {
  background-color: white;
  color: black;
  border-color: grey;

  &:hover {
    color: black;
  }
}

.btn.medium {
  padding: 0.375rem 2rem;
}
