.mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0.5rem 1rem;
}

.mat-grid-list .mat-grid-tile .mat-figure {
  padding: 0 0.5rem;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color:white;
}
