.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.jumbotron {
  opacity: 0.8;
  border-radius: 0;
  height: 100%;
}
