.login-logo-img{
   display: block;
   margin: 0 auto;
   margin-top: calc(100vh - 85vh);
   margin-bottom: 3%;
   box-sizing: content-box;
   height: 90px;
}

/* Login block styles*/
.login-block{
   width: 400px;
   margin: 0 auto;
   background-color: white;
   box-sizing: content-box;
   height: 30vh;
   min-height: 300px;
   border-radius: 1em;
}

/* Login title style*/
.login-title{
   text-transform: uppercase;
   display: block;
   background-color: lightsalmon;
   text-align: center;
   color: #FFFFFF;
   margin: 0 !important;
   height: 20%;
   padding-top: 2%;
   border-top-left-radius:0.5em;
   border-top-right-radius:0.5em;
}

form{
   height: 80%;
   padding: 2% 5%;
   padding-bottom: 7%;
   position: relative;
}

/* username field, password field*/
input[type=text], input[type=password], .submit-button{
   height: 20%;
   width: 100%;
   margin: 2.5% 0;
   color:black;
   border-radius: 7px;
   border: lightgray solid 1px;
   padding-left: 7%;
}
/* username field placeholder, password field placeholder*/
input[type=text]::-webkit-input-placeholder, 
input[type=password]::-webkit-input-placeholder{ /* Webkit */
   color: lightgray;
}

input[type=text]:-moz-placeholder, 
input[type=password]::-webkit-input-placeholder{ /* Firefox 18-4 */
   color: lightgray;  
}

input[type=text]::-moz-placeholder, 
input[type=password]::-webkit-input-placeholder{  /* Firefox 19+ */
   color: lightgray;  
}

input[type=text]:-ms-input-placeholder, 
input[type=password]::-webkit-input-placeholder{  /*  IE10+  */
   color: lightgray;  
}

.submit-button{
   border-radius: 7px;
   padding-left: 0%;
   color: white;
   background-color: lightblue;
}

.has-error{
   background-color: #ce5959;
}

.submit-button:hover{
   border-radius: 7px;
   padding-left: 0%;
   color: white;
   background-color: rgb(66, 162, 194);
}


.has-error:hover{
   background-color: #ce5959;
}

.error-msg{
   color: #ce5959;
   visibility: hidden;
}

.show-error-msg{
   visibility: visible;
}

