.table-container {
  height: calc(100vh - 154.5px);
  margin: 0 auto;
  overflow: auto;

  .mat-table {
    width: 100%;
  }

  tr.element-detail-row {
    height: 0;
    background-color: white;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;

    >div {
      padding: 1rem 0;
    }

    textarea {
      width: 100%;
      padding: 0.5rem;
    }

    .btn-group {
      padding-top: 0;
    }
  }

  .element-row {
    &:nth-child(4n+1) {
      background-color: whitesmoke;
    }

    &:nth-child(4n+3) {
      background-color: lightgray;
    }
  }

  th,
  td {
    padding: 0 0.25rem;
  }
}

.mat-cell {
  color: black;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: left;
  font-size: small;
  font-weight: bold;
}

/** No CSS for this example */
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: rgb(50, 211, 157) !important;
}
