<div class="table-container">
   <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="">
   </mat-form-field>

   <table #table mat-table [dataSource]="dataSource" cdkDropList cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)" matSort class="mat-elevation-z8">

      <ng-container [matColumnDef]="column.key q" *ngFor="let column of ( displayedColumns | tableheaderconverter )">
         <th class="w-15 th-left" mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> {{column.display}} </th>
         <td class="w-15 th-left" mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   </table>
   <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>