.table-container{
   height: 100%;
   width: 90%;
   margin-left: 5%;
}


.mat-form-field {
   font-size: 14px;
   width: 100%;
   color:white;
}


.mat-cell {
   color: black;
}

.mat-row:nth-child(4n+1){
   background-color: white;
   font-size: small;
}

.mat-row:nth-child(4n+3){
   background-color: gray;
   font-size: small;
}

.mat-row:nth-child(2n+2){
   background-color: lightgray;
   font-size: small;
}

tr.element-row:nth-child(4n+3):hover{
   background: rgb(180, 231, 255);
   font-weight: bold;
}

tr.element-detail-row:nth-child(4n+3):hover{
   background: rgb(180, 231, 255);
   font-weight: bold;
}

tr.element-row:nth-child(4n+1):hover{
   background: rgb(180, 231, 255);
   font-weight: bold;
}

tr.element-detail-row:nth-child(4n+1):hover{
   background: rgb(180, 231, 255);
   font-weight: bold;
}

.element-detail {
   height: 150px;
   overflow: hidden;
}

tr.element-detail-row {
   height: 0;
}

:host ::ng-deep .mat-sort-header-container {
   display: flex;
   justify-content: left;
   font-size: small;
   font-weight: bold;
 }

.th-center{
   text-align: center; 
}
.th-left{
   text-align: left;
}
.th-right{
   text-align: right;
}

.w-10{
   width: 10%;
}

.w-15{
   width: 15%;
}

.w-25{
   width: 25%;
}

.w-50{
   width: 50%;
}

.w-75{
   width: 75%;
}

.w-100{
   width: 100%;
}
