@import "../../../shared/toolbar.scss";
@import "../../../shared/sidenav.scss";

.mat-drawer-container {
  background-color: transparent;
  color: black;
  height: 100%;
}

.root-container {
  height: 100vh;
}

.logout:hover {
  cursor: pointer;
  text-decoration: underline;
}

.side-bar-opener:hover {
  cursor: pointer;
}

.user-info-block{
  width: 100%;
  text-align: center;
}

.user-info-label{
  color: black;
}

.circle-icon {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
}

.link-info{
  cursor: pointer;
}

.link-info:hover{
  text-decoration: underline;
}