.btn-bottomSheet{
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 1%;
   z-index: 100;
}

.actions {
  display: block;
  background: white;
  opacity: 0.8;
}

.delete-button {
  color: #dc3545;

  &:disabled {
    color: grey;
  }
}
