<div class="actions clearfix">
  <button
    class="btn delete-button right"
    [disabled]="!groupSelectedEnabled"
    (click)="GroupDeleted()">
    <mat-icon class="material-icons">delete</mat-icon>
  </button>
</div>

<!-- buttons that fixed at the bottom so not belongs to the button group-->
<button type="button" class="btn btn-info btn-bottomSheet" (click)="openBottomSheetClick()">Customize Columns</button>

<mat-tab-group [backgroundColor]="'primary'" (selectedTabChange)="selectedTabChange($event)">
  <mat-tab *ngFor="let tab of tabConfig; let i = index" label="{{tab.tabName}}">
    <app-harvestmousepage (dataFreshEventRequired)="refreshTabAndData()"
      (selectionEvent)="selectionEventTrigger($event)" #tab [tabName]='tab.tabName'></app-harvestmousepage>
  </mat-tab>
</mat-tab-group>

<mat-progress-bar *ngIf="loaded" mode="indeterminate"></mat-progress-bar>
